@import "../../assets/styles/variables";

.null-state {
    margin: 0 auto;
    background: url('https://www.nicepng.com/png/detail/334-3348426_search-result-icons-error-404-girlfriend-not-found.png') center center no-repeat;
    background-size: contain;
    min-height: 350px;
    margin: $gutter;
}

.empty-state {
    margin: 0 auto;
    background: url('../../assets/images/null-state.png') no-repeat center center;
    background-size: contain;
    min-height: 350px;
    margin: $gutter;
}