// @import "../../assets/styles/variables";

// .team {
//     margin-top: $gutter3x;
    
//     @media screen and (max-width: 768px){
//         margin-top: $gutter1_4;
//         margin-bottom: 2.25rem;
//     }
//     @media screen and (min-width:771px) and (max-width: 1024px){
//         margin-top:auto;
//         margin-bottom: auto;
//     }
//     h2 {
//         width: 50%;
//         text-align: center;
//         padding-top: $gutter;
//     }

//     &__wrapper {
//         padding: $gutter;
//         line-height: 0;
//         -webkit-column-count: 1;
//         -webkit-column-gap: $gutter;
//         -moz-column-count: 1;
//         -moz-column-gap: $gutter;
//         column-count: 1;
//         column-gap: $gutter;

//         img {
//             width: 100%;
//             height: auto;
//             margin: $gutter 0;
//         }
//     }

//     @media screen and (min-width: 769px) {
//         margin-top: 0;
//         &__wrapper {
//             padding: $gutter2x;
//             -webkit-column-count: 1;
//             -moz-column-count: 1;
//             column-count: 1;
//         }
//     }

//     .team_image {
        
//         @media screen and (min-width:769px){
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         height: 100vh;  // Set the desired height
//         margin: $gutter2x 0;
//         }
//         @media screen and (max-width: 768px) {
//             height: 45vh;
//         }
//     }
    
//     .team_image img {
//         max-width: 100%;  // Adjust the maximum width as needed
//         max-height: 100%; // Adjust the maximum height as needed
//         width: auto;
//         height: auto;
//         @media screen and (max-width: 768px){
//             position: absolute;
//         }
//     }
//     h1{
//         text-align: center;
//         padding-top: $gutter;
//         margin-top: 1rem;
//     }
    
    
// }

// teams.scss

// @import "../../assets/styles/variables";

// .team {
//   position: relative;
//   margin-top: $gutter3x;

//   h1,
//   h2 {
//     text-align: center;
//     padding-top: $gutter;
//   }

//   &__wrapper {
//     padding: $gutter;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     gap: $gutter;

//     img {
//       width: 100%;
//       height: auto;
//       margin: 0;
//     }
//   }

//   @media screen and (min-width: 769px) {
//     margin-top: 0;
//     &__wrapper {
//       padding: $gutter2x;
//     }
//   }

//   .team_image {
//     position: relative;
//     height: 80vh; // Set the desired height

//     @media screen and (max-width: 768px) {
//       height: 45vh;
//     }
//   }

//   .team_image img {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     max-width: 100%;
//     max-height: 100%;
//     width: auto;
//     height: auto;

//     @media screen and (max-width: 768px) {
//       position: absolute;
//     }
//   }

//   h1 {
//     text-align: center;
//     padding-top: $gutter;
//     margin-top: 1rem;
//   }
// }


// teams.scss

@import "../../assets/styles/variables";

.team {
  position: relative;
  margin-top: $gutter3x;

  h1,
  h2 {
    text-align: center;
    padding-top: $gutter;
  }

  &__wrapper {
    padding: $gutter;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gutter;

    img {
      min-height: 400px;
      min-width: 100%;
      width: 100%;
      height: auto;
      margin: 0;
      background: url('../../assets/images/img-placeholder.png') no-repeat center center;
      background-size: cover;
    }
  }

  @media screen and (min-width: 769px) {
    margin-top: 0;
    &__wrapper {
      padding: $gutter2x;
    }
  }

  .team_image {
    position: relative;
    height: 100vh; // Set the desired height

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      height: 46vh; // Adjusted height for iPad screens between 769px and 1024px
      position:relative;
    }

    @media screen and (max-width: 768px) {
      height: 45vh;
    }
  }

  .team_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    @media screen and (max-width: 768px) {
      position: absolute;
    }
  }

  h1 {
    text-align: center;
    padding-top: $gutter;
    margin-top: 1rem;
  }
}
