@import "../../assets/styles/variables";
@import "../../assets/styles/sudo";
@import "../../assets/styles/flex";


.btn-close, .btn-open {
    @include element-position(absolute, 16px, 16px, unset, unset);
    background: none;
    border: 0;
    font-size: $font-size-m;
    z-index: 4;
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.text-white {
    color: $white
}

.navbar {
    @include element-position(fixed, 0, 0, 0, 0);
    @include flex(column, center, flex-start);
    gap: $gutter3x;
    background-color: $white;
    padding: $gutter;
    padding-top: 80px;
    box-shadow: $box-shadow-large;
    transform: translateY(-100%);
    transition: $transition-in-out;
    z-index: 5;
    
    &__left {
        @include flex(column, center, start);
        text-align: center;
        li{
            height: 100%;
            &:not(:first-child) {
                margin: $gutter2x 0 0 0;
            }
        }
        img {
            height: 100%;
            object-fit: contain;
        }
        h1 span{
            color: $orange
        }

        .dropdown {
            position: relative;
            display: inline-block;    
            .icon {
                font-size: $font-size-xxs;
                transition: $transition-in-out;
            }
            &__content {
                @include flex(column, center, center);
                box-shadow: none;
                margin-top: $gutter1_2;
                padding-left: $gutter4x;
                width: 100%;
                max-height: 0;
                overflow: hidden;
                pointer-events: none;
                transition: $transition-in-out;

                a {
                    text-align: start;
                    padding: $gutter1_2;
                    display: block;
                    width: 100%;
                }
            }

            &:hover {
                .dropdown__content {
                    max-height: 100%;
                    pointer-events: all;
                }
                .icon {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__right {
        @include flex(column, center, center);
        gap: $gutter2x;
        .social-icons {
            @include flex(row, center, space-evenly);
            gap: $gutter
        }
        .search-bar {
            @include flex(row, center, center);
            gap: $gutter1_2;
            &__text {
                background-color: $body-bg;
                width: 100%;
                border-radius: $border-radius-normal;
                transition: $transition-in-out;
            }
            
            &__btn {
                color: $white;
                background-color: $orange;
                border-radius: $border-radius-normal;

                &:hover {
                    background: darken($color: $orange, $amount: 2);
                }
            }
        }
    }

    &.show {
        transform: translateY(0);
    }

    @media screen and (min-width: 769px){
        padding-top: $gutter;
        flex-direction: row;
        justify-content: space-between;
        bottom: unset;
        height: 80px;
        transform: translateY(0);

        &__left {
            flex-direction: row;
            li {
                display: inline-block;
                &:not(:first-child) {
                    margin: 0 0 0 $gutter2x;
                }
            }
            img {
                border-right: 1px solid $textColor; 
                padding-right: $gutter;
            }
            .dropdown {
                cursor: pointer;
                &__content {
                    display: none;
                    position: absolute;
                    padding-left: 0;
                    top: 18px;
                    overflow: auto;
                    margin-top: 0;
                    background-color: $white;
                    min-width: 160px;
                    box-shadow: $box-shadow-large;
                    z-index: 1;
        
                    a {
                        padding: $gutter12 $gutter;
                        &:hover {
                            background-color: $body-bg;
                        }
                    }
                    
                }

                &:hover {
                    .dropdown__content {
                        display: block;
                        max-height: 30vh;
                    }
                }
            }
        }
        &__right {
            flex-direction: row;
            
            .search-bar {
                flex-direction: row;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .dropdown__content {
            transition: $transition-in-out;
            a {
                position: relative;
                &:before {
                    @include sudo-fill(absolute, -16px, unset, unset, -16px);
                    border-left: 1px solid $stroke;
                    height: 100%;
                    width: 16px;
                    border-bottom: 1px solid $stroke;
                }
            }
            @media screen and (max-width: 768px){
            .search-bar__btn{
                margin-right: 14px;
            }
        }
        }
    }

}